// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

a.spa-protest-result, a.spa-protest-result:visited, a.spa-protest-result:hover, .spa-protest-result{
  color:black;
  text-decoration:none !important;
  width:100%

}

article {
  padding: 2px 5px 2px 5px;
  margin: 2px 5px 2px 5px;
  border: 0px;
  border-radius: 4px;
  border-style: dashed;
}

section {
  padding: 2px 5px 2px 5px;
  margin: 2px 5px 2px 5px;
  border: 0px;
  border-radius: 4px;
  border-style: solid;
}

div {
  padding: 2px 5px 2px 5px;
  margin: 2px 5px 2px 5px;
  margin: 5px;
}

header.post-header {
  margin-left: 35px;
  margin-bottom: 0px;
}

h1.post-title {
  margin-bottom: 0px;
  color:gray;
}

.spa-country section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

section.spa-country-intro {
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-end;
  background-color:#eaeaea;
  padding:20px;
  margin-bottom:30px;
}

article.spa-country-description {
  min-width: 200px;
  max-width: 450px;
}

article.spa-country-intro{
  background-color:white;
  padding:10px;
  margin:10px;

}

article.spa-country-map {
  width: 450px;
}

.spa-country img {
  border: none;
  height:auto
}

.spa-img-container{
  display:flex;
  align-items:flex-start;

}

.bk-checkbox > .bk-btn-group > .bk-btn{
    text-align:left;
    padding:5px;
    background-image: url('../../assets/img/team-images/dropdown.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.spa-footer-logo{
  max-height:40px;
  display:block;
  padding:10px;

}

.social-links{
  display:flex;
  justify-content:center;

}

section.spa-cite {
  display: flex;
  align-items: flex-end;
  right:0px;
  margin: 10px;
  padding: 10px;
  max-width: 975px;

}

article.spa-cite {
  min-width: 50px;
  margin: 10px;
  padding: 10px;
  right:0px;
  background-color:#eaeaea;
}

article.spa-cite > h5 {
  margin: 2px 0px 2px 0px;
}

section > div {
  flex-flow: row wrap;
}

button {
  flex: 1 auto;
  margin: 5px;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

footer > article {
  flex: 1 auto;
}

.spa-header {
  color:gray;
}
.header-large{
  color:gray;
  font-size:3em;
}

.bk { cursor: pointer; }

.spa-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.spa-large-p{
  font-size:16px;

}

.spa-more-protests{
  margin:auto;
  text-align:center;

}

.anim {
  opacity:0;
  color: blue;
}

.site-nav{
  z-index:10;
}

.spa-category-button{
  border:2px solid white !important;
}

.spa-category-button:hover{
  border:2px solid darkgray !important;
}

.heatmap-static{
  display:none;
  visibility:hidden;
}

.social-media-list{
  display:inline-block;
  padding:10px;
  vertical-align:middle;
}

.spa-overflow{
  overflow:scroll;
  height:30vw;
  flex-wrap: wrap-reverse;
  background-color:#eaeaea;
  padding:20px;
}

.spa-filters-column{
  overflow:scroll !important;
  height:650px !important;

}

.country-list{
  display:none;
  visibility:hidden;
}

@media screen and (max-width: 700px) {
  .country-list{
    display:block;
    visibility:visible;
  }

  section.spa-country-intro {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: flex-end;
    background-color:#eaeaea;
    padding:5px;
    margin-bottom:30px;
  }
  article.spa-country-description {
    min-width: 100px;
    max-width: 450px;
  }

  .post, .post-content, .wrapper {
    padding:0px;
    margin:0px;
  }
  canvas.bk, div.bk-canvas-events, .hidden-on-mobile, .ActorsInvolved, .Causes, .Targets, .Characteristics{
    display:none;
    visibility:hidden;

  }

  .protest-results{
    display:block !important;
    visibility:visible !important;
  }

  .heatmap-static{
    display:inline-block;
    visibility:visible;
  }

  .social-links{
    display:block;
  }

  .spa-filters-column{
    overflow:visible !important;
    height:97% !important;
  }
  .spa-overflow{
    overflow:visible;
    height:97%;
    flex-wrap: wrap-reverse;
    background-color:#eaeaea;
    padding:20px;
  }
}



@keyframes textanim {
    0% {font-size:100%; opacity:0;color:blue}
    25% {font-size:100%; opacity:0.25; color:blue}
    50% {font-size:100%; opacity:0.5;content:""}
    75% {font-size:100%; opacity:0.75; content: ""}
    100% {font-size:100%;opacity:1; color:gray}
}

@keyframes textanim2 {
    0% {font-size:100%; opacity:0;content: ""}
    25% {font-size:100%; opacity:0.25;content: ""}
    50% {font-size:100%; opacity:0.75;content:""}
    75% {font-size:100%; opacity:0.25; content: ""}
    100% {font-size:100%;opacity:0; content: ""}
}

