---
layout: page
---
<!-- The way we are accessing the elements in _data/countries.csv is a linear search on an array.
There is probably a better way to do this, involving hash tables -->

{% for row in site.data.countries %}
  {% if row.country == page.title %}
    {% assign country_row = row %}
  {% endif %}
{% endfor %}

    <article>
      <section class="spa-cite">
        <article class="spa-cite">
          <h5>EXPORT DATA</h5>
        </article>
      </section>
      <section>
        <article>
          <section>
            <p>{{ country_row.description }}</p>
          </section>
        </article>
        <article>
          <section class="spa-country-map">
            <img src="{{site.baseurl}}/assets/img/country-images/{{country_row.image_file}}">
            <!-- <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p> -->
          </section>
        </article>
      </section>
      <section>
        <article>
          <h3>DATA VISUALIZATIONS</h3>
          <section>
            <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
          </section>
        </article>
      </section>
      <section>
        <article>
          <h3>PROTESTS</h3>
          <section>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
          </section>
          <section>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
          </section>
        </article>
      </section>
    </article>
    <footer>
      <article>
        <h4>SPA FOOTER</h4>
      </article>
      <article>
        <h4>CONTRIBUTE</h4> 
      </article> 
    </footer>
