---
layout: page
---
<!-- The way we are accessing the elements in _data/countries.csv is a linear search on an array.
     There is surely a better way to do this, involving hash tables, surely, no?? -->

<!-- It's also not 100% clear to me why we can't use the simple indexing approach that we use for protests...
     # assign protest_row = site.data.protests[page.row_index]
     Like that, why doesn't that work? I mean, it factually doesn't. But why? Why not? Arrrgghhh. -->

{% for row in site.data.countries %}
  {% if row.country == page.title %}
    {% assign country_row = row %}
  {% endif %}
{% endfor %}

    <article class="spa-country">

      <section class="spa-cite">
        <article class="spa-cite">
          <h5>Export Data</h5>
        </article>
      </section>

      <section class="spa-country-intro">

        <article class="spa-country-description">
          <section>
            <p>{{ country_row.description }}</p>
          </section>
        </article>

        <article class="spa-country-map">
          <section>
            <img src="{{site.baseurl}}/assets/img/country-images/{{country_row.image_file}}">
          </section>
        </article>

      </section>

      <section>

        <article>
          <h3>DATA VISUALIZATIONS</h3>

          {% if country_row.viz_1 != '' %}
          <section>
            <article>
              <section>
                <img src="{{site.baseurl}}/assets/img/country-line-graphs/{{country_row.viz_1}}">
              </section>
            </article>
          </section>
          {% endif %}

          {% if country_row.timelapse %}
          <section>
            <article>
              <section>
                <img src="{{site.baseurl}}/assets/img/country-heatmaps/{{country_row.timelapse}}">
              </section>
            </article>
          </section>
          {% endif %}

        </article>

      </section>

      <section>
        <article>
          <h3>PROTESTS</h3>
          <section>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
          </section>
          <section>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
            <article>
              <h5>PROTEST NAME</h5>
              <p>Tacos actually microdosing.</p>
            </article>
          </section>
        </article>
      </section>

    </article>

    <footer>
      <article>
        <h4>SPA FOOTER</h4>
        <p>This should go away once the footer for the whole site is correctly updated.</p>
      </article>
      <article>
        <h4>CONTRIBUTE</h4>
        <p>This should be part of the footer for the whole site, and then this fake footer should go away; leaving it here as a reminder for now though.</p>
      </article>
    </footer>
