// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

article {
  padding: 5px;
  margin: 5px;
  border: 0px;
  border-radius: 4px;
  border-style: dashed;
}

section {
  padding: 5px;
  margin: 5px;
  border: 0px;
  border-radius: 4px;
  border-style: solid;
}

div {
  padding: 5px;
  margin: 5px;
}

section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

section.spa-country-intro {
  flex-wrap: wrap-reverse;
}

article.spa-country-description {
  min-width: 250px;
  max-width: 500px;
}

article.spa-country-map {
  width: 450px;
}

section.spa-cite {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

article.spa-cite {
  min-width: 50px;
}

article.spa-cite > h5 {
  margin: 2px 0px 2px 0px;
}

section > div {
  flex-flow: row wrap;
}

button {
  flex: 1 auto;
  margin: 5px;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

footer > article {
  flex: 1 auto;
}

